header {
  top: 54px !important;
  max-width: 1880px;
  margin: 0 auto;
  padding: 0 60px;
  width: 100%;
  @media (min-width: 1440px) {
    padding: 0 89px;
  }
  nav {
    background: rgba(255, 255, 255, .2) !important;
    backdrop-filter: blur(120px);
  }
}

.hero-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1888 / 975; // Maintain hero image ratio
  background: url('../img/hero.jpg') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 50px;

  @media (min-width: 768px) {
    padding: 80px 4rem 4rem;
  }

  .hero-content {
    position: relative;
    z-index: 2;
    max-width: 984px;
  }
}
/* WebP override for supported browsers */
@supports (background-image: url("image.webp")) {
  .hero-wrapper {
    background-image: url('../img/hero.webp');
  }
}

.countdown-wrapper {
  bottom: 24px;
  @media (min-width: 992px) {
    bottom: 48px;
  }
}

#mission {
  padding: 150px 0 0;
  background: url('../img/mission-bg.png') center center / cover no-repeat $primary;
  background-blend-mode: hard-light;
}

.mission-card {
  padding: 32px;
  text-align: center;
  border-radius: 24px;
  background-color: #fff;
  //box-shadow: [x-offset] [y-offset] [blur-radius] [spread-radius] [color];
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.parallax-wrapper {
  overflow: hidden;
  height: 465px;
  border-radius: 24px 24px 0 0;
}

.parallax.gospel {
  height: 465px; // adjust based on visual target area
  background-image: url('../img/gospel.png');
  background-size: cover;
  background-position: center 60%;
  background-repeat: no-repeat;
  
  @media (min-width: 768px) {
    background-attachment: fixed;
  }
  @media (min-width: 1440px) {
    background-size: 1280px;
  }
}

footer {
  padding-top: 120px;
}
